/* width < 176px */
/* Navigation */

#navbar ul{
    padding: 0px 0px;
}
#navbar ul li a{
    font-size: 10px;
}

/* Home Section  */
.section{
    width:90%;
}
.section::before{
    height: 390px;
}

/* Contact-Us  */
.contact-form input, .contact-form textarea{
    width: 80%;
}


/* Utility classes */
.text{
    font-size:0.6rem;
}