/* when 450px < width < 850px */

/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul{
    margin: 0px 6px;
}

#navbar ul li{
    padding: 2px 7px;
    margin: 5px auto;
}

#navbar ul li a{
    font-size: 0.7rem;
}

#navbar img{
    margin:auto;
    height:31px;
    width:34px;
}
/* Home Section  */
.section{
    font-size: 1rem;
    margin:2.7em auto;
    width:80%;
    margin:57px auto;
}
.section h2{
    font-size: 1.4rem;
}

/* Services section  */
#service-container{
    margin:20px 70px;
    display: flex;
    flex-direction: column;

}
#service-head{
    margin:3px 2px;
    padding-top:58px;
}

/* Clients Section  */



/* Contact Us Section  */
.contact-form textarea{
    width:100%;
}

.contact form
/* Footer  */

/* Utility Class  */
button.btn{
    font-size: 18px;
    height: 28px;
    width: 106px;   
}
